.container {
    margin-top: 40px;
}

.logo {
    text-align: center;
}

.subtitle {
    padding-top: 10px;
    font-size: 0.97em;
    font-style: italic;
    text-align: center;
}

.shields {
    padding-top: 13px;
    text-align: center;
}

.intro {
    padding-top: 20px;
    font-size: 1.1em;
}